
{# <footer #}
	{# class="bg-body-tertiary text-center text-lg-start">
	<!-- Copyright -->
	<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
		© 2024 Copyright:
		<a class="text-body" href="https://github.com/KayrozzR/CleanThis">CleanThis</a>
	</div>
	<!-- Copyright --> #}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Footer</title>
<style>
    
    body {
        margin: 0;
        font-family: Arial, sans-serif;
    }

    
    footer {
        
        color: black; 
        padding: 20px;
        
        bottom: 0;
        width: 100%;
    }

    .footer-links {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer-links a {
        text-decoration: none;
        color: black;
        transition: transform 0.3s ease; 
    }

    .footer-links a:hover {
        transform: translateY(-3px); 
    }
</style>
</head>
<body>

<footer>
  <!-- Links -->
  <div class="footer-links">
    <a href="#">À propos</a>
    <a href="#">Termes et conditions</a>
    <a href="#">Politique de confidentialité</a>
  </div>
  <!-- Links -->
</footer>

</body>
</html>
