{% block title %}ERREUR
{% endblock %}

{% block body %}
    <section class="home">
        <div class="text">
            <form action="{{ path('resend_verif') }}" method="post">
                <div class="mb-3">
                    <label for="email" class="form-label">Entrez votre adresse mail</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="alert alert-warning alert-dismissible" role="alert">
                    <div class="alert-message">
					 <strong>Le token est invalide ou a expiré</strong>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Renvoyer le lien d'activation</button>
            </form>
        </div>
    </section>
{% endblock %}






