{% extends 'basebis.html.twig' %}

{% block title %}New Devis{% endblock %}
{% block stylesheets %} 
    {{ parent() }} 
    {# <link rel="stylesheet" href="{{ asset('public/assets/css/style.css') }}"> #}
{% endblock %}

{% block body %}

<div class='text2'>
  

    {{ include('devis/_form.html.twig') }}

</div>
   
{% endblock %}