{% block stylesheets %} 
    <link rel="stylesheet" href="{{asset('assets/css/success_reclamation.css')}}">
{% endblock %}


<div class="success-page">
   <img  src="http://share.ashiknesin.com/green-checkmark.png" class="center" alt="" />
  <h2>Votre demande de contact a bien été prise en compte !</h2>
  <p>Elle sera traitée sous un délais de 7 jours.</p>
  <p>Cordialement,</p>
  <p>Votre équipe cleanThis</p>
  <a href="{{ path('app_user_profil') }}" class="btn-retour"> <span>Retourner sur mon profil</span> </a>
</div>
</div>