{% extends 'base.html.twig' %}

{% block title %}Edit TypeOperation{% endblock %}

{% block body %}
<section class="home">
    <div class="text">
    {{ include('admin/type_operation/_form.html.twig', {'button_label': 'Update'}) }}
    </div>
    </section>
{% endblock %}
