img{
    width: 5%;
}
.infosDevis{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.infosEntreprise{
    margin-left: 10%;
}
.numDevisEtDate{
    margin-right: 23%;
}

.infosClients{
    margin-left: 70%;
    padding-left: 1%;
    border: 1px solid;
    width: 20%;
}
/* table,
th,
td {
  border: none;
} */

tr{
    padding-left: 20%;
}