.RGPD {
    margin: 10px;
}

html {
    position: relative;
    min-height: 100%;
}
 
  .btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
  }

  .btn-google {
    color: black !important;
    background-color: white !important;
    border:  solid 1px;
  }

  .btn-google:hover {
    color: black !important;
    background-color: white !important;
    border:  solid 1px;
  }

  .btn-facebook {
    color: white !important;
    background-color: #3b5998;
  }

  .flag-link {
    padding: 0; 
}

.flag-img {
    width: 30px; 
    height: auto; 
}

.navbar-nav .dropdown-menu {
    min-width: 30px; 
    width: auto; 
}

.delete-operation {
  cursor: pointer;
  color: red;
  font-weight: bold;
  margin-left: 5px;
	font-size: 12px;

}

