{% extends 'basebis.html.twig' %}

{% block title %}Edit User
{% endblock %}

{% block body %}
    <section class="home">
        <div class="text">

            <h1>Edit User</h1>



            <a href="{{ path('app_user_profil') }}">Retour au profil</a>

        </div>
    </section>
{% endblock %}