<p>Bonjour {{client.firstname}} {{ client.lastname}}</p>
<p>Veuillez cliquer sur le lien afin de télécharger votre devis : <a href="{{ url}}">Mon devis</a></p>
<p>A très bientôt,</p>
<p>Votre équipe CleanThis.</p>