<p>Bonjour {{client.firstname}} {{ client.lastname}}</p>
<p>Veuillez trouver en pièce jointe votre devis CleanThis : <a href="{{ url}}">{{ url }}</a></p>
<p>A très bientôt,</p>
<p>Votre équipe CleanThis.</p>